.contactForm {
  width: 1300px;
  max-width: 95dvw;
  margin: 2rem auto;
  color: #E7F2FB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  & form {
    width: 570px;
    max-width: calc(95dvw - 1.8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    background-color:hsla(225,16%,14%,1);
    background-image:
      radial-gradient(at 99% 98%, hsla(323,100%,54%,0.03) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(206,89%,56%,0.05) 0px, transparent 50%),
      radial-gradient(at 80% 100%, hsla(272,91%,56%,0.05) 0px, transparent 50%),
      radial-gradient(at 0% 56%, hsla(161,91%,56%,0.05) 0px, transparent 50%),
      radial-gradient(at 8% 98%, hsla(227,10%,4%,0.25) 0px, transparent 50%);
    padding-bottom: 0.2rem;
    padding-right: 1.1rem;
    border: 1px solid #1d2027;
    border-radius: 6px;
    margin: 1.3rem auto;
    & h5 {
      font-weight: 400;
      opacity: 0.9;
      margin-top: 0.6rem;
      margin-bottom: 1rem;
      margin-left: 1.5%;
      width: 101.5%;
      text-align: center;
    }
    & h2 {
      width: 100%;
      text-align: left;
      margin: 1rem;
      margin-bottom: 0.6rem;
      display: flex;
      align-items: center;
      & svg {
        margin-right: 4px;
      }
    }
    & p {
      margin-bottom: 1.6rem;
      width: 98%;
      text-align: left;
    }
    & textarea {
      resize: none;
      width: 100%;
      margin-top: 0.6rem;
      margin-left: auto;
      margin-right: auto;
      background-color: #13131b30;
      border-radius: 6px;
      border: 2px solid #E7F2FB99;
      padding: 1.5%;
      color: #E7F2FB;
      font-size: 1.2rem;
      transition: all ease 0.2s;
      &:focus {
        border: 1px solid #27e5be;
        outline: 1px solid #27e5be;
      }
    }
    & span {
      width: 101.5%;
      margin-bottom: 0;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      margin-bottom: 0.6rem;
      & input {
        width: calc(46.5% - 1px);
        margin: 0px;
        &:nth-child(1) {
          border-radius: 6px 3px 3px 6px;
        }
        &:nth-child(2) {
          border-radius: 3px 6px 6px 3px;
        }
      }
    }
    & input {
      width: 98%;
      padding: 1.5%;
      margin: 0 auto;
      background-color: #13131b30;
      border-radius: 4px;
      border: 2px solid #E7F2FB99;
      color: #E7F2FB;
      font-size: 1.2rem;
      transition: all ease 0.2s;
      &:focus {
        border: 1px solid #27e5be;
        outline: 1px solid #27e5be;
      }
    }
    & button {
      width: 101.5%;
      padding: 0.6rem;
      padding-bottom: 0.8rem;
      margin: 0.6rem auto;
      font-size: 1.2rem;
      font-weight: 600;
      color: #36DDC3;
      background-color: #13131b30;
      border: 2px solid #36DDC3;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease 0.2s all;
      & svg {
        margin-bottom: -2px;
        margin-right: 4px;
      }
      &:hover {
        background-color: #36DDC3;
        color: #1f222b;
      }
    }
    & div {
      display: flex;
      margin-top: 0.8rem;
      justify-content: space-around;
      width: 101.5%;
      & p, a {
        width: fit-content;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.3rem;
        height: fit-content;
        display: flex;
        align-items: center;
        & svg {
          margin-right: 4px;
        }
      }
    }
  }

  & .illustration {
    width: 30rem;
    max-width: 95dvw;
    margin: 1.6rem auto;
    aspect-ratio: 1/1;
    position: relative;
    background: radial-gradient(#27e5be39 10%, transparent 50%);
  }
}

@media(max-width: 1117px) {
  .contactForm {
    & form {
      h2, p {
        text-align: center;
        justify-content: center;
      }
    }
  }
}
