.skillsSection {
    display: flex;
    flex-direction: column;
    & h2 {
        margin: 2rem;
        text-align: center;
    }
    & .div {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
        align-items: center;
        width: 90%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    & .cardContent {
        width: 320px;
        max-width: calc(80vw - 12px);
        align-items: center;
        padding: 12px 6px;
        text-align: center;
        aspect-ratio: 9/12;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        & p {
            display: flex;
            align-items: center;
            width: fit-content;
            & svg {
                margin-right: 0.5rem;
            }
        }
    }
}
