.aboutPage {
    padding-top: 80px;
    width: 980px;
    max-width: 100%;
    margin: 0 auto;

    & h2,
    & h3 {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    & h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    & p {
        font-size: 1.2rem;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        & em {
            background-color: #27e5be;
            color: #12121a;
            font-weight: 600;
            font-style: normal;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 3px;
        }

        & strong {
            color: #27e5be;

            &:nth-child(2),
            &:nth-child(4) {
                color: #FF487E;
            }
        }
    }

    & .tagCloud {
        margin: 1rem auto;
        width: fit-content;
        min-height: 360px;
    }
}

.projects {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}