.postSection {
    padding-top: 3rem;
    padding-top: 3rem;
    & h2 {
        text-align: center;
        margin: 2rem;
    }
    & .posts {
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        max-width: 100%;
        flex-wrap: wrap;
        width: 1330px;
        margin: 1.5rem auto;
    }
    & .buttonBlog {
        margin: 0 auto;
        background-color: transparent;
        color: #36DDC3;
        border: 2px solid #1D9F91;
        padding: 0.7rem 1.1rem;
        border-radius: 6px;
        margin: 1rem auto;
        display: block;
        width: fit-content;
        text-decoration: none;
        font-weight: 700;
        transition: all ease 200ms;
        &:hover {
          background-color: #36DDC3;
          border: 2px solid #36DDC3;
          color: #13131b;
        }
    }   
}
