header {
  position: fixed;
  margin-top: calc(100dvh - 72px);
  margin-left: calc(50vw - 162px);
  width: 324px;
  outline: 1px solid #d5e7f449;
  box-shadow: 0px 4px 12px 0px rgba(7, 8, 13, 0.40);
  height: 56px;
  border-radius: 4px;
  background-color: #1D2027;
  max-width: 100%;
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 24px 24px #13131b;
  & a {
    color: #E7F2FB;
    transition: all ease 0.2s;
    &:hover {
      color: #36DDC3;
    }
  }
}

html {font-size: 100%;} /*16px*/

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

body {
  background: linear-gradient(to top left, #12121a, #1a1b24);
  min-height: 100dvh;
  margin: 0px;
  color: #E7F2FB;
  padding-bottom: 100px;
}

* {
  margin: 0px;
}