html {
  font-size: 100%;
}

/*16px*/

@media (max-width: 870px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 600) {
  html {
    font-size: 80%;
  }
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

body {
  background: linear-gradient(to top left, #12121a, #1a1b24);
  min-height: 100dvh;
  margin: 0px;
  color: #E7F2FB;
  padding-bottom: 100px;
}

a {
  color: #E7F2FB;
}

* {
  margin: 0px;
}

header {
  position: fixed;
  width: calc(100% - 32px);
  padding: 8px 16px;
  background-color: #0b0b0d62;
  backdrop-filter: blur(10px);
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .buttonMenu {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #c7d3db;
    transition: all ease 100ms;
    &:active {
      transform: scale(1.1);
    }
  }

  & span {
    display: flex;
    align-items: center;

    & button {
      margin-left: 1.8rem;
      background-color: transparent;
      padding: 0.5rem;
      border-radius: 8px;
      color: #27e5be;
      border: 2px solid #27e5be;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      position: relative;
      -webkit-transition-property: color;
      font-size: 1.2rem;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      background-color: transparent;
      transition-duration: 0.3s;
      cursor: pointer;

      &:before {
        content: "";
        border-radius: 8px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #27e5be;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
      }

      &:hover {
        color: #13141b;
      }

      &:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }

    & a {
      font-size: 1.3rem;
      font-weight: 500;
      text-decoration-color: transparent;
      margin-left: 1.8rem;
      transition: all ease 200ms;

      &:hover {
        text-decoration-color: #E7F2FB;
      }
    }
  }
}

@media (max-width: 700px) {
  header span {
    display: none;
  }

  header .buttonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hljs-meta,
.hljs-comment {
  color: #565f89;
}

/* Red */
/*INFO: This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
.hljs-tag,
.hljs-doctag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-template-tag,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_,
.hljs-deletion {
  color: #f7768e;
}

/*Orange */
/*INFO: Number and Boolean constants, Language support constants */
.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-link {
  color: #ff9e64;
}


/*  Yellow */
/* INFO:  	Function parameters, Regex character sets, Terminal Yellow */
.hljs-built_in,
.hljs-attribute {
  color: #e0af68;
}

/* cyan */
/* INFO: Language support functions, CSS HTML elements */
.hljs-selector-tag {
  color: #2ac3de;
}

/* light blue */
/* INFO: Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
.hljs-keyword,
.hljs-title.function_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-subst,
.hljs-property {
  color: #7dcfff;
}

/*Green*/
/* INFO: Object literal keys, Markdown links, Terminal Green */
.hljs-selector-tag {
  color: #73daca;
}


/*Green(er) */
/* INFO: Strings, CSS class names */
.hljs-quote,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #9ece6a;
}

/* Blue */
/* INFO:  	Function names, CSS property names, Terminal Blue */
.hljs-code,
.hljs-formula,
.hljs-section {
  color: #7aa2f7;
}