html {font-size: 100%;} /*16px*/

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

body {
  background: linear-gradient(to top left, #12121a, #1a1b24);
  min-height: 100dvh;
  margin: 0px;
  color: #E7F2FB;
  padding-bottom: 100px;
}

a {
  color: #E7F2FB;
}

* {
  margin: 0px;
}

header {
  position: fixed;
  width: calc(100% - 32px);
  padding: 8px 16px;
  background-color: #0b0b0d62;
  backdrop-filter: blur(10px);
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}