.sideMenu {
  height: calc(100dvh - 24px);
  padding: 12px;
  background-color: rgb(21, 27, 28);
  display: flex !important;
  flex-direction: column;
  align-items: center;
  & a {
    font-size: 1.8rem;
    text-decoration: none;
    margin-top: 6dvh;
    display: block;
    text-align: center;
    font-weight: 600;
  }
  & button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #c7d3db;
  }
  & .cvButton {
    font-size: 1.5rem;
    font-weight: 600;
    width: fit-content;
    padding: 0.8rem;
    color: #26ddb8;
    border: 2px solid #26ddb8;
    border-radius: 6px;
    margin-top: auto;
    margin-bottom: 6dvh;
  }
  & span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
