.sideMenu {
  height: calc(100dvh - 24px);
  padding: 12px;
  background-color: #182428;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  & a {
    font-size: 1.8rem;
    text-decoration: none;
    margin-top: 6dvh;
    display: block;
    text-align: center;
    font-weight: 600;
  }
}