.post {
  max-width: calc(95% - 8px);
  width: 1080px;
  margin: 1rem auto;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background-color: #30313d40;
  padding: 8px 6px;
  border-radius: 6px;
  transition: all ease 0.2s;
  outline: 2px solid transparent;
  box-shadow: rgba(4, 4, 4, 0.2) 0px 8px 24px;
  &:hover {
    background-color: #30313d64;
    outline: 2px solid #30313ded;
  }
  & span {
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem;
  }
  & span, & span h5 {
    font-size: 1rem;
    display: flex;
    width: 60%;
    font-weight: 600;
    opacity: 0.94;
    margin-top: 0.3rem !important;
  }
  & .text {
    width: 73%;
    height: 95%;
    display: flex;
    flex-direction: column;
    & p {
      width: 90%;
      font-size: 0.9rem;
      opacity: 0.9;
      margin-top: 0.4rem;
    }
  }

  & .image {
    width: 25%;
    height: 100%;
    object-fit: cover;
    justify-self: start;
    margin-top: auto;
    margin-bottom: auto;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;
    }
  }
}

@media (max-width: 800px) {
  .post {
    flex-direction: column;
    height: fit-content;
    & span, & span h5 {
      width: 100%;
      font-size: 0.8rem;
      & svg {
        width: 1rem !important;
        margin-top: -3px !important;
        margin-right: 2px;
      }
    }
    & .image {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 4px;
      aspect-ratio: 16/6;
    }
    & .text {
      width: 100%;
      & p {
        font-size: 0.8rem;
        display: none;
      }
      & h4 {
        font-size: 1.2rem;
      }
    }
  }
}
