.portfolioPage {
  padding-top: 72px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  max-width: 95%;
  width: 1100px;
  margin: 0 auto;
  & h1 {
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
