.postSection {
    padding-top: 64px;
    line-height: 1.75;
    width: 780px;
    max-width: 100%;
    margin: 0 auto;

    & .summary {
        font-size: 1rem;
        margin-top: 1rem;
        width: 98%;
        font-style: italic;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.6;
    }

    & .bigTitle {
        font-size: 3.658rem;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 1.2rem;
        margin-top: 1rem;
    }

    & img {
        max-width: 100%;
        margin: 0 auto;
    }

    & p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    p {
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 3rem 0 1.38rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 1.3;
    }

    h1 {
        margin-top: 0;
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }

    h5 {
        font-size: 1.2rem;
    }
}