.postSection {
    padding-top: 64px;
    line-height: 1.75;
    width: 780px;
    max-width: 95%;
    margin: 0 auto;

    & pre {
        overflow-y: scroll;
        padding: 6px;
        margin: 0 1rem;
        background-color: #121219;
        margin-bottom: 1.5rem;
        border-radius: 6px;
    }

    & .summary {
        font-size: 1rem;
        margin-top: 1rem;
        width: 98%;
        font-style: italic;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.6;
    }

    & .bigTitle {
        font-size: 2.958rem;
        font-weight: 600;
        line-height: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    & .imageWrapper {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        width: 100%;
        aspect-ratio: 16/8;
        & img {
            width: 100%;
            aspect-ratio: 16/8;
            object-fit: cover;
            border-radius: 8px;
            display: block;
        }
    }

    & img {
        max-width: 100%;
        margin: 0 auto;
    }

    & p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    p {
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 3rem 0 1.38rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 1.3;
    }

    h1 {
        margin-top: 0;
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }

    h5 {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .postSection .bigTitle {
        font-size: 2.488rem;
    }
    .postSection p {
        font-size: 1rem;
        line-height: 1.4;
    }
}
