.projectsScroll {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-bottom: 100px;
  & .bg {
    background: linear-gradient(to left, #14151d, transparent, transparent, transparent, #14151d);
    width: 100%;
    height: 500px;
    margin-bottom: -500px;
    z-index: 5;
    pointer-events: none;
  }
  & .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 500px;
    z-index: 3;
    & .content {
      width: max-content;
      display: flex;
      justify-content: center;
      position: absolute;
      gap: 30px;
      top: 80px;
      left: 0%;
      transform: translateX(0);
      animation: scroll 30s linear infinite;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 15px));
  }
}
